.items > ul {
  display: flex;
  flex-direction: column;
  gap: var(--small-size);

  padding-right: var(--med-size);
}

.items li {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "image name price"
    "image desc button";
  row-gap: var(--small-size);
  column-gap: var(--small-size);

  padding: var(--small-size);
  border: 1px solid lightgray;
  border-radius: var(--med-border-radius);

  background-color: var(--light-gray);
}

.items img {
  grid-area: image;

  height: 80px;
  width: 80px;
}

.items div {
  grid-area: price;

  justify-self: end;
  align-self: center;

  background-color: var(--info-button);
  padding: var(--tiny-size) var(--small-size);
  border-radius: var(--large-border-radius);
}

.items button {
  grid-area: button;

  background-color: var(--success-button);
  padding: var(--small-size) var(--med-size);
  border-radius: var(--med-border-radius);
}

.items h3 {
  grid-area: name;
}
